@import '_shared.scss';

body {
  margin: 0;
  background-color: $grey;
  color: $black;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  min-height: 0;
  min-width: 0;
}

.site-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .temptemp {
    @include content-load;
  }
}