@import '_shared.scss';

.auth-portal-component {
  position: absolute;
  background-color: $grey;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    display: flex;
    flex-direction: column;
    color: $white-blue;
    width: 278px;
    @include content-load;

    .title {
      @include source-sans-semi-bold;
      text-align: center;
      font-size: 36px;
      margin-bottom: 36px;
    }

    .input { margin-bottom: 24px; }

    .password { 
      letter-spacing: 5px;
      &::placeholder { letter-spacing: 0px; }
    }

    .button-wrapper {
      display: flex;
      justify-content: space-between;

      .type-toggle-wrapper {
        height: 25px;
        position: relative;
        @include source-sans;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
          
        .toggle-item {
          width: 65px;
          text-align: center;
        }

        .active {
          color: $white-blue;
          cursor: default;
        }

        .inactive {
          color: $light-grey;
          cursor: pointer;
          @include uniform-transition(color);
          &:hover {
            color: $grey-white;
          }
        }

        .highlight {
          height: 2px;
          background: $white-blue;
          width: 50%;
          position: absolute;
          @include uniform-transition(left);
          left: 0%;
          bottom: 0;
        }

        .left-50 {
          left: 50% !important;
        }
      }

      .submit {
        border: none;
        background: none;
        color: $white-blue;
        padding: 0;
        @include source-sans;
        outline: none;
        font-size: 18px;
        cursor: pointer;
        @include uniform-transition(color);
        &:hover {
          color: $grey-white;
        }
      }
    }
    
    .loading-margin {
      margin-top: 30px;
    }
  }

  .footer {
    position: absolute;
    background-color: $light-grey;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      font-size: 20px;
      padding: 0 14px 0;
      color: $grey;
      cursor: pointer;
      @include uniform-transition(color);
      &:hover { color: $black; }
    }    
  }
}