// Available Fonts
@mixin source-sans {
  font-family: 'Source Sans Pro', sans-serif;
}
@mixin source-sans-semi-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

// Colors
$black:      #000000;
$grey:       #464751;
$light-grey: #5E6270;
$grey-white: #8A90A7;
$white-blue: #F4FAFF;
$white:      #FFFFFF;

// Mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Transitions
@mixin uniform-transition($property...) {
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.3s ease), comma)
  }
  transition: $val;
}

// Helpers
@mixin links($property...) {
  text-decoration: none;
  color: $black;
  outline: none;
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.3s ease), comma)
  }
  transition: color 0.2s ease, $val;
  &:hover {
    color: $grey;
  }
}

// Animations
@mixin content-load {
  animation: load 1.2s;
  animation-fill-mode: forwards;
}

@mixin content-unload {
  animation: unload 1.2s;
  animation-fill-mode: forwards;
}

@mixin fade-in {
  animation: in 1.2s;
  animation-fill-mode: forwards;
}

@mixin fade-out {
  animation: out 1.2s;
  animation-fill-mode: forwards;
}

// Keyframes
@keyframes load {
  0% { opacity: 0; visibility: visible; transform: translateY(15px); }
  100% { opacity: 1; visibility: visible; transform: translateY(0px); }
}

@keyframes unload {
  0% { opacity: 1; visibility: visible; transform: translateY(0px); }
  100% { opacity: 0; visibility: visible; transform: translateY(15px); }
}

@keyframes in {
  0% { opacity: 0; visibility: visible; }
  100% { opacity: 1; visibility: visible; }
}

@keyframes out {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: visible; }
}
