// Available Fonts

// Colors
$black:    #000000;
$white:    #FFFFFF;

// Mixins
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// Transitions
@mixin uniform-transition($property...) {
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.3s ease), comma)
  }
  transition: $val;
}

// Helpers
@mixin links($property...) {
  text-decoration: none;
  color: $black;
  outline: none;
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.3s ease), comma)
  }
  transition: color 0.2s ease, $val;
  &:hover {
    color: $grey;
  }
}

// Animations
@mixin content-load {
  animation: content 1.2s;
  animation-fill-mode: forwards;
}